nbproject
._*
.~lock.*
.buildpath
.idea
.project
.settings
vendor/
config/development.config.php
config/*.old
config/autoload/local.php
config/autoload/*.local.php
config/autoload/*development.php
/build/api
/build/coverage
/build/logs
/build/pdepend
/build/phpdox
/data/cache/*
/data/doctrine/*
/data/logs/*
/data/rollbar/*
/data/tmp/*
!.gitkeep
cache.properties
/.php_cs.cache
/deployment.properties
/auth.json
